# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# scons
.sconsign.dblite

# ros
build/
devel/
install/
.catkin_workspace
ros1/src/CMakeLists.txt
ros1/catkin_ws/src/turtlebot3_simulations