<launch>
    <arg name="compensate_pitch" default= "1.0"/>
    <arg name="compensate_yaw" default= "2.0"/>
    <arg name="compensate_roll" default= "3.0"/>
    <!-- 传递变量 /> -->
    <node pkg="ch4_launch" type="5_launch_arg_多个变量.py" name="launch_many_args" 
        output="screen" args="$(arg compensate_pitch) $(arg compensate_yaw) $(arg compensate_roll)">
    </node>
</launch>